.characteristic{
    margin: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 7px;
    background: #64b2e9;
    cursor: pointer;
}
.characteristic:hover{
    background: #419CDC;
}
.display-flex{
    display: flex;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
